{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Банковская АБС{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+2v7Q2Ev8l/uTBzI1ZZz4aVGO0H/lob/77yMIA0" crossorigin="anonymous"></script>
    {% block script %}{% endblock %}

</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Логотип" />
            <h1>ВАНЯ ВЕТКА ВКУСНО ТОЧКА</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'open_account' %}">Открыть счет</a></li>
                <li><a href="{% url 'clients' %}">Клиенты</a></li>
                <li><a href="{% url 'about' %}">О компании</a></li>
                <li><a href="{% url 'contact' %}">Контакты</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-wrapper">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <a href="/">
                    <img src="{% static 'images/logo.png' %}" alt="Логотип">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Банковская АБС ДоРаГо</p>
        </div>
    </footer>
</body>
</html>