{% extends "base.html" %}
{% load static %}

{% block title %}Информация о клиенте{% endblock %}

{% block content %}
<div class="client-detail">
    <h2>Информация о клиенте</h2>
    <ul>
        <li><strong>ФИО:</strong> {{ client.last_name }} {{ client.first_name }} {{ client.patronymic }} </li>
        <li><strong>Дата рождения:</strong> {{ client.birth_date }}</li>
        <li><strong>Адрес:</strong> {{ client.address }}</li>
        <li><strong>Телефон:</strong> {{ client.phone|default:"—" }}</li>
        <li><strong>Email:</strong> {{ client.email|default:"—" }}</li>
        <li><strong>Паспорт:</strong> {{ client.passport_series }} {{ client.passport_number }}</li>
        <li><strong>Дата выдачи:</strong> {{ client.passport_issue_date }}</li>
        <li><strong>Кем выдан:</strong> {{ client.passport_issued_by }}</li>
    </ul>
    <h2>Счета клиента</h2>
    <a href="{% url 'clients_list' %}">← Назад к списку клиентов</a>
</div>
{% endblock %}