{% extends "base.html" %}
{% load static %}

{% block title %}Клиенты{% endblock %}

{% block content %}
<div class="page-wrapper">

    <div class="content-wrapper-clients">

        <div class="table-section">

            <form method="get" class="passport-search-form">
                <input type="text" name="passport" placeholder="Поиск по серии и номеру паспорта" value="{{ request.GET.passport }}">
                <button type="submit">Найти</button>
            </form>

            <table class="clients-table">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Серия паспорта</th>
                        <th>Номер паспорта</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>
                            <a href="{% url 'client_detail' client.id %}">{{ client.last_name }} {{ client.first_name }}  {{ client.patronymic}}  </a>
                        </td>
                        <td>{{ client.passport_series }}</td>
                        <td>{{ client.passport_number }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Нет клиентов в базе данных.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="button-section">
            <a href="{% url 'add_client' %}" class="add-client-button">
                Добавить клиента
            </a>
        </div>
    </div>
</div>
{% endblock %}